## ９章applyによる関数の適用

### applyの基本

In [4]:
# 適用する関数
def my_sq(x):
    return x ** 2
def avg_2(x,y):
    return (x + y)/ 2

In [2]:
import pandas as pd
df = pd.DataFrame(
    {"a":[10,20,30]
    ,"b":[20,30,40]}
    )
df

    a   b
0  10  20
1  20  30
2  30  40

### Seriseへの適用
Seriseオブジェクトにはapplyメソッドがある。applyメソッドにはSeriseの各要素に適用したい関数をメソッドに渡す。

In [6]:
sq = df["a"].apply(my_sq)
sq

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
def my_exp(x, e):
    return x ** e

In [9]:
# パラメタ指定
ex = df["a"].apply(my_exp, e=2)
ex

0    100
1    400
2    900
Name: a, dtype: int64

### DataFrameへの適用

DFオブジェクトは一般的に少なくとも２次元のデータを持つ。そのため、その関数を適用すべき軸を指定する必要がある。

In [11]:
def print_me(x):
    print(x)

In [12]:
# 列への適用
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [13]:
def avg_3(col):
    return(col[0]+col[1]+col[2]) / 3

In [14]:
df.apply(avg_3)

a    20.0
b    30.0
dtype: float64

In [15]:
# 行への適用
def avg_2(row):
    return(row[0]+row[1]) / 3

In [16]:
df.apply(avg_2, axis=1)

0    10.000000
1    16.666667
2    23.333333
dtype: float64

### applyの応用

In [17]:
import seaborn as sns
titanic = sns.load_dataset("titanic")

In [23]:
import numpy as np

def count_missing(vec):
    """欠損の数をカウント
    """
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

def prop_missing(vec):
    """欠損が占める比率
    """
    num = count_missing(vec)
    dem = vec.size
    return num / dem

def prop_complate(vec):
    """非欠損が占める比率
    """
    return 1 - prop_missing(vec)

In [29]:
print(titanic.apply(count_missing))
print(titanic.apply(prop_missing))
print(titanic.apply(prop_complate))

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64
survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [31]:
# 行に適用
print(titanic.apply(count_missing, axis=1).value_counts())

1    549
0    182
2    160
dtype: int64

In [35]:
titanic["num_missing"] = titanic.apply(count_missing, axis=1)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,num_missing
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,2
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,2
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,2

### 関数のベクトル化

### ラムダ関数

In [38]:
docs = pd.read_csv("./data/doctors.csv", header=None)

In [ ]:
import re
p = re.compile("\w+s\+\w+")
docs["name"] = docs[0].apply(lambda x: p.match(x).group())

In [ ]:
%debug